.smaller_header_text {
    font-size: 15px;
    color: #fffc;
}
.smaller_header_text:hover {
    color:#ffff;
}

#container {
    text-align: center;
}


#container div{
}

#left_menu_block {
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    background: #343a40;
    border: 1px solid #fffc;
    line-height: 32px;
    height: 120px;
}

#left_menu_block span {
    width: 100%;
    padding: 10px 12px 0;
    border-bottom: 1px solid #5a5e6166;
}

#left_menu_block .nav_link{
   color: #fffc;
    font-size: 15px;
    text-decoration: none;
}
#left_menu_block .nav_link:hover {
    color: #fff;
}

#left_menu_block .active {
    color: #fff;
}

#info_block {
    background: #343a40;
    color: #fff;
    max-width: 800px;
    min-width: 600px;
    height: auto;
    margin: 40px 30px;
    padding: 15px 0 40px;
    line-height: 20px;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#info_block hr{
    border-bottom: 1px solid #ffffff8c;
}

#info_block .header_block {
    font-size: 20px;
    margin: 0 30px ;
}

#main_info_block {
    line-height: 16px;
    text-align: left;
    padding: 5px 30px;
    font-size: 16px;
    padding-bottom: 10px;
}

#main_info_block br {
    clear: both;
}
#main_info_block .codeblock {
    display: block;
    position: relative;
    color: #000;
    margin: 5px 0;
    padding: 8px 15px;
    background: #ffff;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
}


#main_info_block {
    line-height: 20px;

}


