/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.hidden {
  display: none;
}

.center {
  text-align: center;
}

/*  MARGINS */
.mr_20px {    /* margin-right*/
  margin-right: 20px;
}




.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#notification_bell i {
  cursor: pointer;
}

#notification_block {
  position: absolute;
  display: none;
  margin-left: -50px;
  width: 380px;
  height: auto;
  max-height: 500px;
  background: #fff;
  border: 1px solid #c5d0db;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.3);
  opacity: 1;
  filter: alpha(opacity=0);
  -o-transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
  transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
  cursor: default;
}

#notification_block .notifications {
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 12px 20px 8px 20px;
  color: black;
  border-bottom: 1px solid #eeeff2;
  line-height: 30px;
}

#notification_block .notifications:hover {
  background: lightblue;
}

#notification_block .notifications button {
  margin-left: 25px;
}
#notification_block .notifications i {
  position: relative;
  float: right;
  top: -8px;
  color: #3535355c;
  margin-right: -15px;
  cursor: pointer;
}
#notification_block .notifications i:hover {
  color: #000;
}

#alert_block {
  position: absolute;
  bottom: 10%;
  left: 20px;
  z-index: 9999999;
  display: none;
}



#black_circle_300px {
  position: relative;
  left: 30%;
  text-align: center;
  width: 300px;
  height: 300px;
  background: #000;
  border-radius: 30px;
  color: #ffff;
  font-size: 60px;
  line-height: 75px;
  cursor: pointer;
}

#black_circle_300px .bot_text {
  display: none;
  font-size: 20px;
}

#black_circle_300px .gif {
  display:none;
  margin: 0 auto;
}

#difficulty_block {
  padding: 35px 0 0 0;
  line-height: 20px;
}

 #difficulty_block .diff_range_input {
  width:200px!important;
}
 #show_difficulty {
   color: #ffff;
   font-size: 20px;
   line-height: 18px;
   font-weight: 400;
   margin-bottom: -10px;
 }

 .mining_types {
   margin-left: 15px;
   position: relative;
   display: inline-block;
   font-size: 18px;
   font-weight: 600;
   color: #121212ab;

 }

 .left {
   float: left;
 }

 .active_type {
   color: #000;
 }





 .mobile-menu-block {
   position: fixed;
   width: 100%;
   z-index: 999;
   display: none;
   background: #343a40;
   color: rgba(255,255,255,.5);
   border: 1px solid #343a40;
   text-align: left;
   line-height: 30px;
 }

 .mobile-menu-block ul , .mobile-menu-block a {
   margin-left: 0;
   padding-left: 0;
   text-decoration: none;
   color: rgba(255,255,255,0.6);
 }

 .mobile-menu-block ul {
   margin-bottom: -3px;
 }

 .mobile-menu-block li {
   border-top: 1px solid #948e8e29;
   padding-left: 15px;
   list-style-type: none;
   min-height: 46px !important;
 }

 .mobile-menu-block a:hover {
   font-weight: 500;
   color: #fff;
 }

 .mobile-menu-block li:hover {
   background: #007bff;
 }

 .mobile-menu-block  .link-active {
   color: #fff;
 }
 .mobile-menu-block  .li-active {
   background: #007bff;
 }


 @media(max-width: 800px) {
   #black_circle_300px {
     left: 10%;
   }
 }