input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.98), 0px 0px 0px rgba(13, 13, 13, 0.98);
    background: #007bff;
    border-radius: 0px;
    border: 0.2px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 33px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #007bff;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.98), 0px 0px 0px rgba(13, 13, 13, 0.98);
    background: #007bff;
    border-radius: 0px;
    border: 0.2px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 33px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #007bff;
    border: 0.2px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.98), 0px 0px 0px rgba(13, 13, 13, 0.98);
}
input[type=range]::-ms-fill-upper {
    background: #007bff;
    border: 0.2px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.98), 0px 0px 0px rgba(13, 13, 13, 0.98);
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 33px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #007bff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #007bff;
}
