

.center_block {
    margin: 0 auto;
    text-align: center;
}

#not_exist_content_block {
    background: #343a40;
    color: #fff;
    font-size: 14px;
    line-height: 0;
    margin-bottom: 50px;
}

#not_exist_content_block span {
    line-height: 16px;
    text-align: center;
    padding: 12px 20px 0 20px;
}
#not_exist_content_block hr {
    margin: -20px 0 5px;
    border-bottom: 1px solid #ffffff6b;
}

#not_exist_content_block .text_block {
    text-align: left;
}

#not_exist_content_block p {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px 0;
}

#not_exist_content_block button {
    margin-bottom: 20px;
}


#form_content {
    text-align: left;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    margin: 10px 20px;
    border: 1px solid #fff;
    padding: 5px 10px;
    background: #fff;
    color: #000;
}

#not_exist_content_block h5 {
    margin-right: 30px;
    margin-left: 30px;
}


.form_input {
    margin-top: 5px;
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    line-height: 15px;
}

.hidden {
    display: none;
}

.pin {
    margin-top: 0;
    //margin-bottom: 10px;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    letter-spacing: 4px;
    width: 100px;
}

.text_block p {

}

.text_block i {
    float: right;
}



.text_block label {
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.text_block .pass_button {
    margin-bottom: 30px !important;
    margin-top: 5px;
}


.center {
    text-align: center;
}