.center_block {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

#settings_content_block {
    background: #343a40;
    color: #fff;
    font-size: 14px;
    padding-bottom: 5px;
}

#settings_content_block .right {
    float: right!important;
}

.settings_menu {
    padding: 10px 20px 7px;
    border-bottom: 1px solid #ffffff47;
    font-size: 22px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Calibri";
}

.no-border {
    border-bottom: none;
}


#settings_content_block hr {
    border-bottom: 1px solid #ffffff6b;
}

#settings_content_block .text_block {
    text-align: left;
}

#settings_content_block p {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px 0;
}


#settings_content_block input {
    width: 87px;
    height: auto;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    line-height: 15px;
}

#settings_content_block .tcn {
    margin-left: 8px;
}

.ml-40px {
    margin-left: 40px;
}
