#transaction_send {
    text-align: left!important;
    margin: 40px 5px 20px 35px;
    background: #343a40;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #ffff;
    width:auto;
    border: 1px solid #0000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: auto;
}

.right_position {
    float: right;

}


#transaction_send .trans_header {
    float: left;
    margin: 5px 25px 0;
    font-size: 22px;
    font-weight: 600;
}

#transaction_send .pub_key {
    margin-left: 10px;
}

#transaction_send input[type=name] {
    margin: 0 10px;
    width: auto;
    padding: 4px 8px;
}

#transaction_send hr {
    border-bottom: 1px solid #f8f8f442;
}



#main_check_block {
    background: #343a40;
    color: #fff;
    margin-left: 240px;
    width: auto;
    height: auto;
    line-height: 32px;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#main_check_block span{
    padding: 0 6px ;
    border-right: 1px solid rgba(241, 238, 238, 0.25);
}

#main_check_block span>input {
    padding: 2px 3px 2px 3px;
    margin-left: 5px;
    max-height: 30px;
    width: 42px;
    border: 1px solid #fff;
    border-radius: 3px;
}

#main_check_block .no-borders {
    border: none;
}


#submit_button {
    margin-left: 32%;
    padding: 12px 22px;
}


/*   Verify Block   */
#container {
    text-align: center;
}
#info_block {
 margin-top: 100px;
 display: inline-block;
 width: 500px;
 height: auto;
 padding: 20px 0 20px;
 border: 1px solid #000;
 border-radius: 15px;
 line-height: 20px;
    background: #343a40;
    color: #fff;
}
#info_block hr{
    border-bottom: 1px solid #ffffff3b;
}
#info_block span {
    font-weight: 400;
    line-height: 20px;
    font-size: 20px;
    margin-left: 30px;
}

#info_block div {
    text-align: left;
    margin: 0 20px 0 30px;
    line-height: 24px;
}
#info_block button {
    margin: 20px 0 0;

}

#info_block input {
    margin-top: 10px;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    letter-spacing: 4px;
    width: 100px;
}

#info_block .small_size {
    font-size: 14px;
}

#info_block .money_input {
    width: 130px !important;

}


.width_550px {
    width: auto !important;
}

@media (max-width: 1154px)  {
    #main_check_block {
        margin-left: 35px;
    }
    #submit_button {
        margin-left: 35px;
    }
}